/*  Page d'accueil  */

h1 {
	text-align: center;
	color: #007bff;
	font-size: 100px;
	font-family: 'Germania One', cursive;
}

.background {
	background-position: center;
	background-size: cover;
}

.btn_game {
	color: white;
	text-align: center;	
	font-family: 'Germania One', cursive;
}

.btn_blog {
	color: white;
	text-align: center;	
	font-family: 'Germania One', cursive;
}

.bulle {
	position: absolute; 
	margin-left: 10px;
}

.pensees {
	position: relative; 
	font-size: 40px;
	color: black;
	margin-top: 100px;
	margin-left: 80px;
	font-family: 'Germania One', cursive;
	align-items: stretch;
}

/*  Page create  */
.ma_question {
	text-align: center;
}

.btn_answers {
	text-align: center;
}

.btn_next {
	text-align: right;
	margin-right: 100px;
}

h2 {
	font-family: 'Germania One', cursive;
	text-align: center;
	color: black;
	font-size: 50px;
	margin-top: 50px;
}

/*  Page show  */
li {
	font-family: 'Germania One', cursive;
}

/*  Page Qui sommes-nous ?  */
p {
	font-family: 'Germania One', cursive;
	text-align: center;
	color: black;
	font-size: 30px;
	margin-top: 30px;
	margin-bottom: 50px;
	margin-left: 80px;
	margin-right: 80px;
}